@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --container-height: 600px;
    --contaier-width: 400px;
    --header-height: 150px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', monospace;
}
html {
    font-size: 20px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgb(250, 235, 215);
    width: var(--contaier-width);
    height: var(--container-height);

    position: relative;
    overflow: hidden;
}
.header-text{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
header {
    width: 100%;
    height: var(--header-height);
    background-image: url('venice.jpg');
    background-size: cover;
    border-radius: 5px 5px 0 0;
}
.header {
    width: 100%;
    display: flex;
}

.space{
    height: 30px;
}
form {
    width: 250px;
    height: 300px;
    background: linear-gradient(90deg, lightgrey, rgba(250, 235, 215, 0.8));
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    margin: auto;
    backdrop-filter: blur(20px);
}
.register{
    margin-top: 35px;
}


.log-in {
    width: 100%;
    margin: 15px auto;
}
.login-input{
    margin-top: 35px;
}

.log-in input {
    width: 80%;
    margin-left: 10%;
    padding: 8px;
    border: 1px solid black;
    font-size: 10px;

    border-radius: 15px;
}
.log-in button {
    padding: 10px;
    width: 40%;
    margin-left: 30%;
    border: 2px solid dimgray;
    cursor: pointer;
    border-radius: 20px;
    font-size: 11px;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg, rgba(250, 235, 215, 0.8), darkgray);
}
.log-in label {
    font-size: 20px;
    margin-left: 10%;
}

.log-in span {
    display: block;
    margin-left: 20px;
    color: red;
    font-style: italic;
}

.login-register {
    font-size: 12px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    text-decoration: none;
    font-weight: 600;
    color: dimgray;
}

.login-register p a:hover {
    text-decoration: underline;
}